@import "reset";
@import "variables";

$imagen_hexagono: ("1": url(../images/libros.svg), "2": url(../images/electronica.svg), "3": url(../images/laptop.svg), "4": url(../images/pizarron.svg));



body{
    background-color: $color5;
}
nav{
    background-color: $color1;
}
main{
    background-color: $color5;
    font-family: $fuente_Belonosima;	
    font-size: 1.3rem;
    margin-top: 100px;
    h2{
        text-align:center;
        color: $color3;
        margin: 5rem;
    }
   .main__titulo{
    text-align: center;
    color: $color3;
    font-size: 2rem;
    background-image: url(../images/background_aula.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin-bottom: 30px;           
   }
   .propuesta{
    display: flex;
    justify-content: space-evenly;
    .hexagono {
        margin: 30px auto;
        width: 400px;
        height: 200px;
        transform: rotate(120deg);
        overflow: hidden;
        visibility: hidden;
        .hexagono__inner {
            width: 100%;
            height: 100%;
            transform: rotate(-60deg);
            overflow: hidden;
            .hexagono__image__1 {
                width: 100%;
                height: 100%;
                background-image: map-get($imagen_hexagono, "1");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                transform: rotate(-60deg);
                visibility: visible;
            }
            .hexagono__image__2 {
                width: 100%;
                height: 100%;
                background-image: map-get($imagen_hexagono, "2");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                transform: rotate(-60deg);
                visibility: visible;
            }
            .hexagono__image__3 {
                width: 100%;
                height: 100%;
                background-image: map-get($imagen_hexagono, "3");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                transform: rotate(-60deg);
                visibility: visible;
            }
            .hexagono__image__4 {
                width: 100%;
                height: 100%;
                background-image: map-get($imagen_hexagono, "4");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                transform: rotate(-60deg);
                visibility: visible;
            }
          }
      }
   }
   #ultimas{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    .noticia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            color: $color1;
        }
        .noticia__imagen{
           display: flex;
           justify-content: center;
           align-items: center;
        }
        .noticia__contenido{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5px;
        }
        img{
            width: 300px;
            height: 300px;
            border: 1px solid $color3;
        }
    }
   }
   .formulario{
    font-family: $fuente_popins;
    width: 40vw;
    margin: 10% 30% 10% 30%;
    padding: 1px;
    border: 3px solid;
   }
   .formulario__contenido{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    color: $color4;
    gap: 5px;
    margin: 5px;
    input, textarea{
        width: 100%;
        height: 100%;
        margin: 8px;
        padding: 3px;
        border: 2px solid $color3;
        border-radius: 5px;
    }
   }
}
footer{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 30px;
    h3{
        text-align: center;}
    .redes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img{
            width: 30px;
        }
    }
    .contacto__footer{
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 15px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	h1{
        font-size: 3rem;
    }
    main{
        .main__contenido{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
                 img{
                    width: 50vw;
                    border-radius: 50%;
                 }
                 p{
                    width: 90vw;
                 }
                 div{
                     width: 50%;
                     margin: 15px;
                     display: flex;
                     justify-content: center;
                     flex-direction: column;
                     align-items: center;
                 }
        }
        .propuesta{
            display: flex;
            flex-direction: column;
        }
        #ultimas{
            display: flex;
            flex-wrap: wrap;
            width: 90vw;
            margin: 5vw;
            .noticia{
                margin: 10vw;
                padding-bottom: 5px;
            }
        }
        .formulario{
            width: 80vw;
            margin: 10%; 
        }
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        h4{
            font-size: 1.5rem;
            color: $color1;
            text-align: center;
        }
    }
}
@media only screen and (min-width: 768px) {
    .main__contenido{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
             img{
                width: 50%;
                border-radius: 50%;
             }
             div{
                 width: 50%;
                 margin: 15px;
                 display: flex;
                 justify-content: center;
                 flex-direction: column;
                 align-items: center;
             }
    }
}

